<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.umkc.sarika.myplugin.clock" name="ClockBoard" schema="schema/edu.umkc.sarika.myplugin.clock.exsd"/>
   <extension
         point="edu.umkc.smt.sarika.myextension.clock">
      <clock
            class="edu.umkc.smt.sarika.myextension.clock.Clock">
      </clock>
   </extension>

</plugin>
